@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(12, 17, 46, 0.7),
    rgba(122, 131, 172, 0.7)), url(images/teknokent.jpg); /*renk geçişi*/
     background-position: center;
     background-size: cover;
     position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;

}

nav img{
    width: 150px;
}

nav .logo1 h2{
    color: white;
    font-size: 1.6rem;
    list-style: none;
    padding: 2rem;
    
}
nav .logo1 h2 i{
    padding: .6rem;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    font-size: 1rem;
    list-style: none;
    display: inline-block;
    padding: .5rem .3rem;
    color: white;
    
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1rem;

}

.nav-links ul li a:hover{
    cursor: pointer;
    font-weight:bold;
    color: darkgrey;
    
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: darkgrey;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after{
width: 100%;
}


.text-box{
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
    
}

.text-box h1 {
    font-size: 2rem;
    margin: 20px;
    font-size: bold;
    
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 1.5rem;
    
}

.text-box h1:hover{
    color: rgb(255, 60, 25);
    opacity: 1;
}
.text-box p:hover{
    color: rgb(255, 60, 25);
    opacity: 1;
}

.text-box .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: .6rem 1rem;
    font-size: 1.2rem;
    background: transparent;
    position: relative;
    cursor: pointer;

}

.hero-btn:hover{
    border: 1px solid rgb(255, 60, 25);
    background: rgb(255, 60, 25);
    transition: .5s;
}

/* nav .fas{
    display: none;
}  */

@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position:absolute;
        background: rgb(255, 60, 25);
        height: 100vg;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: .5s;
    }
    /* nav .fas{
        display: block;
        color: white;
        margin: .8rem;
        font-size: 1.5rem;
        cursor:pointer;
    }
    .nav-links ul{
        padding: 30px;
    } */
}


/*hakkımızda*/

.hakkımızda{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5rem;
}

.hakkımızda h1{
    font-size: 2rem;
    font-weight: 600;
}

.hakkımızda p{
    color: black;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.4rem;
    padding: .8rem;
}

.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(158, 158, 158);
    padding: .6rem 1rem;
    font-size: 1.2rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 15px;
}

.hero-btn1:hover{
    border: 1px solid rgb(255, 60, 25);
    background: rgb(255, 60, 25);
    transition: .5s;
}

.row{
    margin-top: 5%;
    display: flex ;
    justify-content: space-between;
}

.hakkımızda h3{
    color: rgb(2, 0, 126);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1rem;
}

.hakkımızda h3:hover{
    font-weight:bold;
    color: darkgrey;
    
}


.hakkımızda h3::after{
    content: '';
    width: 0%;
    height: 2px;
    background: darkgrey;
    display: block;
    margin: auto;
    transition: .5s;
}
.hakkımızda h3:hover::after{
    width: 50%;
}

.hakkımızda-col i{
    font-size: 35px;
    padding: 10px;
    color:rgb(2, 0, 126) ;
}
/* 
#section{
    position: relative;
    width: 100%;
    min-height: flex;
    justify-content: center;
    align-items: center;
    background: #2196f3;
    overflow: hidden;

} */
.etkinlikler{
    position: relative;
}



.etkinlikler{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 5rem;
    
}
.etkinlikler h1{
    font-size: 2rem;
    font-weight: 600;
    margin: 50px;
    
    
}

.swiper-container {
    width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 10px !important;
    
    
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
    

   
  }
  .swiper-wrapper{
      width: 100%;
      
      
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 2rem;
    
  }

.swiper-slide p{
    padding: 0px;
    font-size: 1.2rem
    

}
.etkinlikler .info{
    float: right;
    align-items: center;  
    
}
.etkinlikler .info h3{
   padding-right: 200px;
   font-size: 27px;
   color: darkslategray;
   
}

.etkinlikler .info ul{
font-size: 20px;
padding-right: 200px;
text-align:center;
margin:auto;
position:absolute;
list-style-type: none;


}

.etkinlikler .info ul li{
padding: 20px;


}

.etkinlikler .info ul li:hover{
    background-color: darkslategray;
}





/*firmalar*/

.firma h1{
    font-size: 2rem;
    font-weight: 600;
    margin: 80px 650px;
    color: rgb(255, 255, 255);
}

.firma .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background-color: white;
}

.firma .box-container .box {
    flex: 1 1 20rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border: 1rem solid #fff;
    height: 20rem;
    position: relative;
}

.firma .box-container .box img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
} 

.firma .box-container .box .content{
    position: absolute;
    top: -100; left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    padding: 2rem;
    padding-top: 5rem;
}

.firma .box-container .box .content .btn{
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    border: rgb(255, 255, 255) solid .1rem;
    background-color: rgb(255, 60, 25);
    padding: 10px;
    margin: auto;

}

.firma .box-container .box:hover .content{
    top:0;
}



.firma .box-container .box .content h3{
    font-size: 1.8rem;
    color: rgb(255, 60, 25);
    font-family: 'Roboto Condensed', sans-serif;
}

.firma .box-container .box .content p{
    font-size: 1rem;
    color: #eee;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem 0;
    margin-top: 1.5rem;
    
}

.firma{
    background-color: rgb(5, 1, 128);
}


.box  a{
    color: black;
    margin: 5px;
}

/*iletişim*/

.iletişim{
    margin: 100px auto;
    width: 90%;
    
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/contact.jpg);
    background-position: center;
    background-size: cover; 
    border-radius: 1rem;
    text-align: center;
    padding: 70px 0;
    
}

.iletişim h2{
    color: white;
    font-size: 1.8rem;
    padding: 5px;

}


.iletişim .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: .7rem 1rem;
    font-size: 1.2rem;
    background: transparent;
    position: relative;
    cursor: pointer;
   

}

.hero-btn:hover{
    border: 1px solid rgb(255, 60, 25);
    background: rgb(255, 60, 25);
    transition: .5s;
}

.contact{
    padding: 10px 0;
}

.contact h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color:black ;
    font-size: 30px;
    font-weight: 500; 
}

.contact h2::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 0 auto;
    display: block;
    margin-top: 10px;

}

.contact-content{
    margin-top: 60px ;
    display: flex;
    justify-content:space-evenly;
}

.contact-item{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}

.contact-item i{
    font-size: 25px;
    margin-bottom: 30px;
    color: rgb(10, 10, 10);
}

.contact-item p{
    font-size: 20px;
    line-height: 30px ;
}